@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  overflow-x: hidden;
}
#root {
  min-height: 100vh;
}

.custom-swiper-wrapper {
  position: relative;
}
.custom-swiper-wrapper::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -25px;
  margin: 0;
  border-right: 100px solid #fff;
  filter: blur(10px);
  z-index: 2;
}

.custom-swiper-wrapper::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -30px;

  margin: 0;
  border-right: 100px solid #fff;
  filter: blur(10px);
  z-index: 2;
}

@media (max-width: 48em) {
  .custom-swiper-wrapper::before {
    border-right: 50px solid #fff;
  }

  .custom-swiper-wrapper::after {
    border-right: 50px solid #fff;
  }
}
